@{
    ViewData["Title"] = "Home Page";
}
@using System.Web.Http.ModelBinding
@model LogInInputModel
<script type="text/javascript">
    function test() {
        var date = setDateFormat('2021-09-24T10:00:00');
        alert(date);
    }
</script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="tab-content">
        <div id="login" class="container tab-pane active">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { id = "logInform" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="login-label"><label for="id">class code</label></div>
                    <div class="login-input">
                        @Html.TextBoxFor(m => m.account, new { @class = "form-control", placeholder = "請輸入您的帳號" })
                        @{
	                        if (!ViewData.ModelState.IsValid && ViewData.ModelState["account"].Errors.Count > 0)
	                        {
								@Html.LabelFor(m =>m, ViewData.ModelState["account"].Errors[0].ErrorMessage)
	                        }
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="login-label"><label for="pwd">account</label></div>
                    <div class="login-input">
                        @Html.TextBoxFor(m => m.password, new { @class = "form-control",  placeholder = "請輸入您的密碼" })
                        @{
	                        if (!ViewData.ModelState.IsValid && ViewData.ModelState["password"].Errors.Count > 0)
	                        {
		                        @Html.LabelFor(m =>m, ViewData.ModelState["password"].Errors[0].ErrorMessage)
	                        }
                        }
                    </div>
                </div>
				<div class="login-btnbar">
					<button type="submit" class="btn btn-login">登入</button>
					<input id="Button1" type="button" value="button" onclick="test()" />	
				</div>
            }
        </div>
    </div>
</div>
