@{
    ViewData["Title"] = "Privacy Policy";
}
@model BLL.PersonInfoVM
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>@Html.Label(@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))</p>
<div class="tab-content">
    <div id="login" class="container tab-pane active">
		
            <div class="form-group">
                <div class="login-label"><label for="id">Acocunt</label></div>
                <div class="login-input">
                    @Html.TextBoxFor(m => Model.oneAccount, new { @class = "form-control", placeholder = "請輸入您的帳號" })
                </div>
            </div>
            <div class="form-group">
                <div class="login-label"><label for="id">Name</label></div>
                <div class="login-input">
                    @Html.TextBoxFor(m => Model.name, new { @class = "form-control", placeholder = "請輸入您的帳號" })
                </div>
            </div>
            <div class="form-group">
                <div class="login-label"><label for="id">Acocunt</label></div>
                <div class="login-input">
                    @Html.TextBoxFor(m => Model.twoAccount, new { @class = "form-control", placeholder = "請輸入您的帳號" })
                </div>
            </div>
			<input id="Button1" type="button" value="button" onclick="@("window.location.href='" + @Url.Action("Test","Home") + "'");"/>	
            @*<div class="form-group">
                <div class="login-label"><label for="id">Name</label></div>
                <div class="login-input">
                    @Html.TextBoxFor(m => Model.twoName, new { @class = "form-control", placeholder = "請輸入您的帳號" })
                </div>
            </div>*@
    </div>
</div>
